<h1 class="mat-heading" tabindex="0">
  操作符决策树
</h1>
<ng-container *ngIf="!(hasError$ | async); else hasErrorTemplate">
  <h2 class="mat-subheading-2" tabindex="0">
    {{currentSentence$ | async}}
  </h2>
  <ng-container *ngIf="isBeyondInitialQuestion$ | async">
    <section>
      <button
        (click)="back()"
        mat-button
        class="back"
      >返回</button>
      <button
        (click)="startOver()"
        mat-button
        color="warn"
        class="start-over"
      >重新开始</button>
    </section>
  </ng-container>
  <div>
    <ng-container *ngFor="let option of options$ | async">
      <ng-container *ngIf="option.options; else operatorTempalte">
        <button
          class="option mat-body-1"
          (click)="selectOption(option.id, $event)"
          [@flyIn]
        >
          <mat-card matRipple>
            {{option.label}}
          </mat-card>
        </button>
      </ng-container>
      <ng-template #operatorTempalte>
        <p *ngIf="option.method" class="mat-body-1">
          您想要的是 {{option.docType}} 的 {{option.method}}
          <a href="{{option.path}}#{{option.method}}">{{option.label}}</a>.
        </p>
        <p *ngIf="!option.method" class="mat-body-1">
          您想要的是 {{option.docType}}
          <a href="{{option.path}}">{{option.label}}</a>。
        </p>
      </ng-template>
    </ng-container>
  </div>
</ng-container>

<ng-template #hasErrorTemplate>
  <div class="mat-body-1 error">
    <p>哎呀！加载决策树时出现问题...我们真的很抱歉。请尝试重新加载页面。</p>
    <p>您还可以尝试 <a href="https://github.com/zlq4863947/rxjs-cn//issues/new?template=documentation.md" target="_blank">在Github上提交问题</a>.</p>
  </div>
</ng-template>